src/frontend/build/
src/backend/build/
.qmake.stash

qMakefile

build/
src/ivs/ivs.cpp
src/ivs/ivs.h
src/ivs/ivs.pro
src/ivs/ivs.pro.user
src/ivs/ivs.ui
src/ivs/main.cpp
.vscode/settings.json

doc/

src/stddev

src/Calculator.pro.user
